# Blizzard API Configuration
BLIZZARD_API_CLIENT_ID="d5fe6a67da4249bab6ac5f2e0e8d2f48"
BLIZZARD_API_CLIENT_SECRET="6CkDstcu395FBCnBz3Xf8zej3pKJ6if2"

# Database Configuration (for local development)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=DB

# Logging Configuration
LOG_LEVEL=INFO
